@page "/errorspage"

@using PhotosDB.Data

@inject LiteDbService Database

<h4>Ошибки обработки файлов (@_errorsCount)</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>File</th>
            <th>Message</th>
            <th>Stack Trace</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var e in _exceptions)
        {
            <tr>
                <td>@e.ExceptionDateTime.ToString("yyyy.MM.dd HH:mm:ss")</td>
                <td>@e.FileNameFull</td>
                <td>@e.Message</td>
                <td>
                    <code class="small">@e.StackTrace</code>
                </td>
            </tr>
        }
    </tbody>
</table>

@if ((_exceptions?.Count ?? 0) > 0)
{
<button @onclick="DeleteExceptions" class="btn btn-danger" type="button">Удалить ошибки из базы (@_exceptions.Count)</button>
}

@code {
    private int _errorsCount;

    private List<ImportExceptionInfo> _exceptions;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _errorsCount = Database.GetErrorsCount();
        _exceptions = Database.GetErrors(0, 100);
    }

    public void DeleteExceptions()
    {
        Database.DeleteErrors(_exceptions.Select(e => e.Id));

        _errorsCount = Database.GetErrorsCount();
        _exceptions = Database.GetErrors(0, 100);
    }
}
